body {
    margin: 0; 
    padding: 0; 
    background-color:bisque; 
}

header {
    background-color: #001D37;
    color: white; 
    padding: 20px; 
    text-align: center;
}

main {
    padding: 20px; 
}

/* .top-section {
    background-color: #001D37;
    color: white;
}
 */
